<%- include("header") %>
<div class="header">
    <h1>Results</h1>
    <h6>This application calculates the average cost of core produced</h6>
</div>

<div>
    <h3>Total Cost : <%= totalCost %></h3>
    <h3>Total Weight : <%= totalWeight %></h3>
    <h3>Square Feet Per Quantal (includes Half Cut) : <%= sqftQ %></h3>
    <h3>Price Per MM : <%= pricePerMM %></h3>
    <h3>Weighted Average Cost (Cost of Nagg) : <%= weightedAvgCost %></h3>
</div>
<%- include("footer") %>